HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.gitattributes
/mvnw
/mvnw.cmd
/.mvn/wrapper/maven-wrapper.properties
/.env
/deployment/docker/dev/.env
/deployment/docker/prod/.env
/deployment/docker/test/.env
/deployment/docker/dev/admin_password.txt
/rebuildAndRun.sh
/run.sh
/stop.sh
/stopWithVolumes.sh
/deployment/docker/prod/admin_password.txt
/banned_ips.txt
